<%- include('partials/header') %>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt officiis molestias nam asperiores quo ullam vero, eveniet ipsum aliquid, cupiditate perspiciatis maiores veniam similique, facere iste dolores architecto quae reiciendis</p>
  <p>Mollitia fugiat earum assumenda culpa eum alias delectus, omnis aliquid, officia dolorem nostrum beatae minus rerum ipsam corrupti exercitationem tempore eos, ratione pariatur sapiente eveniet facilis ducimus perspiciatis consequuntur! Atque!</p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab expedita quasi ratione totam veniam, velit cum repellat maiores illum ducimus nisi itaque quam vitae. Et iure repellendus odit eius asperiores!</p>
  <p>Optio doloribus libero distinctio provident exercitationem, rerum eveniet deserunt quam eius similique laudantium reprehenderit, quod ad excepturi ducimus iste. Fugiat, suscipit. Accusamus exercitationem possimus unde cumque, itaque natus laborum eum.</p>
  <p>Reiciendis culpa sapiente, adipisci libero consequuntur provident voluptatum vero esse blanditiis laudantium ipsam? Sed distinctio saepe pariatur, aliquam corporis debitis officiis asperiores molestias nisi neque. Velit, suscipit! Enim, sunt rerum.</p>
<%- include('partials/footer') %>